{% extends "layout.html" %}   

{% block title %}Posts Edit{% endblock %}

<h1>Posts Edit</h1>

{% block main %}
    {% for e in error %}
        {{e}}<br>
    {% endfor %}

    <form action="" method="post">
        {% csrf_token %}

        <!--Title: <input type="text" name="title" required>-->
        <!--<br><br>-->
        <!--Content: <input type="text" name="content" required>-->
        <!--<br><br>-->

        {{ form.as_p }}

        <button class="btn btn-outline-secondary" type="submit">Submit</button>
    </form>
{% endblock %}